%p#notice= notice
%h1 Listing Patients
%table.table.table-responsive.datatable
  %thead
    %tr
      %th SSN
      %th Name
      %th Registration Date
  %tbody
    - @patients.each do |patient|
      %tr
        %td= link_to patient.ssn, patient
        %td= patient.full_name
        %td= patient.registration_date
%br/
/= link_to 'New Patient', new_patient_path
