!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HealthApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    %base{"href" => "/"}
  %body.container-fluid{"ng-app" => "healthApp"}
    .view-container
      .view-frame.animate-view{"ng-view"=> ""}
        = yield
